<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="relatorio.css">
    <link rel="stylesheet" href="../Tabela Nutricional/tabelaNutricional.css">
</head>

<body>

    <header>
        <h1>Relatório de Atividades</h1>
    </header>

    <main>
        <div>
            <h2>Relatório Técnico para Rotulagem de Alimentos</h2>
            <section class="tabela-relatorio">
                <table>
                    <thead>
                        <tr>
                            <th>TIPO</th>
                            <th>NOME DO PRODUTO</th>
                            <th>PESO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Produto Acabado</td>
                            <td>Coxinha de Frango com Requeijão</td>
                            <td>150 g</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <div>
                <section class="ingredientes">
                    <h3>1. Ingredientes</h3>
                    <p>Tomate, farinha de trigo enriquecida com ferro e ácido fólico, carne bovina, água, cebola, açúcar
                        refinado, limão, gema, caldo de carne, caldo de galinha, óleo de soja refinado, sal, pimenta do
                        reino preta, pimenta jamaica, canela em pó, coentro em pó, cominho moído, pimenta do reino
                        branca,
                        louro em pó, noz moscada, realçador de sabor (glutamato monossódico), melhorador (ácido
                        ascórbico),
                        propionato de cálcio antimofo e fermento biológico seco. CONTÉM GLÚTEN. ALÉRGICOS: CONTÉM OVO E
                        DERIVADOS DE TRIGO E SOJA. PODE CONTER AVEIA, CRUSTÁCEOS (CAMARÃO), LEITE E PEIXES.</p>
                </section>
            </div>
            <div class="formatoTabela">
                <div class="tabela">
                    <section class="informacao">
                        <h2>INFORMAÇÃO NUTRICIONAL</h2>
                        <hr>
                        <ul>
                            <li>
                                <span>Porções por embalagem: <span>000</span></span>
                            </li>
                            <li>
                                <span>Porção: <span>000 g (medida caseira)</span></span>
                            </li>
                        </ul>
                        <hr class="hr">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>100 g</th>
                                    <th>Porção</th>
                                    <th>%VD*</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td">Valor energético (kcal)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="td">Carboidratos (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="prima">Açúcares totais (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="secon">Açúcares adicionados (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td">Proteinas (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="td">Gorduras totais (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="prima">Gorduras saturadas (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="prima">Gorduras trans (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="td">Fibra alimentar (g)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="td">Sódio (mg)</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="hr2">
                        <p>* Percentual de valores diários fornecidos pela porção.</p>
                    </section>
                </div>
                <div class="alinharcentro">
                    <div class="infoalto ">
                        <div class="texto">
                            <div class="imagem">
                                <img src="../Tabela Nutricional/img/lupa.png" />
                            </div>
                            <ul>
                                <li>AÇÚCAR ADICIONADO</li>
                                <li>GORDURA SATURADA</li>
                                <li>SÓDIO</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <section class="modo_preparo">
                    <h3>2. Modo de Preparo</h3>
                    <p>Visando tratar os efluentes (dejetos gerados em virtude do processo industrial), a Tear That
                        possui
                        em suas dependências uma Estação de Tratamento de Efluentes.</p>
                </section>
            </div>
            <div>
                <section class="detalhes-treinamento">
                    <h3>3. Conservação</h3>
                    <h2>Tabela de Conservação</h2>

                    <table>
                      <tr>
                        <th>CONSERVAÇÃO</th>
                        <th>TEMPO</th>
                        <th>TEMPERATURA</th>
                      </tr>
                      <tr>
                        <td>Geladeira/Estufa refrigerada</td>
                        <td>3 dias</td>
                        <td>(0ºC a +4ºC)</td>
                      </tr>
                      <tr>
                        <td>Freezer/ Congelador</td>
                        <td>5 meses</td>
                        <td>(-12ºC ou mais frio)</td>
                      </tr>
                      <tr>
                        <td>Freezer/Congelador (Aberto)</td>
                        <td>1 mês</td>
                        <td>(-12ºC ou mais frio)</td>
                      </tr>
                      <tr>
                        <td>Estufa quente</td>
                        <td>6 horas</td>
                        <td>(60°C a 65°C)</td>
                      </tr>
                    </table>
                    
                    <p>Após aberto, produto não pode ser armazenado em freezer sem estar devidamente fechado novamente. Após descongelado, não congelar o produto novamente.</p>
                    
                </section>
            </div>

            <footer>
                <p>&copy; 2024 - NutriGenius</p>
            </footer>
</body>

</html>