.container {
  display: grid;
  justify-items: center;
  width: auto;
}

.material-form {
  display: grid;
  justify-items: left;
  width: 85vw;
  margin: 30px;
}

h2 {
  text-align: center;
}

.material-item {
  margin-bottom: 10px;
}

.remove-btn {
  margin-left: 10px;
}

.infoNutri {
  width: 80px;
  height: 20px;
  text-align: center;
}

.nomeMP {
  width: 480px;
  height: 20px;
}

.nomeReceita {
  width: 360px;
}

.quantidadeMP {
  text-align: center;
  width: 100px;
  height: 20px;
}

select {
  height: auto;
  width: auto;
  margin-bottom: 10px;
  border: solid 2px;
}

.tabelaCentral {
  display: flex;
  justify-content: center;
  background-color: white;
  width: auto;
  margin-top: 10px;
}

.porcao {
  margin-left: 10px;
  text-align: center;
}

.section2 {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

.field {
  display: flex;
  margin-bottom: 90px;
}

.alergicos {
  width: 600px;
  height: 260px;
}

.modoPreparo {
  width: 600px;
  height: 260px;
}

.conservacao {
  width: 500px;
  height: 530px;
}

textarea {
  width: 600px;
  height: 180px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: justify;
}

.conservacaoRelatorio table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.conservacaoRelatorio th,
.conservacaoRelatorio td {
  border: 1px solid black;
  text-align: initial;
  padding: 8px;
}

.conservacaoRelatorio th {
  background-color: #f2f2f2;
}

.observacaoRelatorio {
  text-align: justify;
}