body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nutrigenius {
    background-color: #f4f4f4;
    padding: 30px 0;
    text-align: center;
}

main {
    width: 60%;
    margin: 2em auto;
}

section p {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.exemplo {
    display: flex;
    justify-content: space-around;
}

.quadrado {
    width: 250px;
    height: 100px;
    background-color: #E5AB7E;
    margin-top: 25px;

}

h1 {
    font-size: 50px;
}