ProjetoNutriGenius/obj/project.assets.json
ProjetoNutriGenius/obj/project.assets.json
ProjetoNutriGenius/obj/project.assets.json
ProjetoNutriGenius/obj/Debug/net8.0/project.razor.vscode.bin
ProjetoNutriGenius/obj/
