@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Shared/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <title>Menu</title>
</head>

<body>

    <div class="menuPrincipal">
        <div class="menu1">
            <button class="qdPerfil">
                <h1>Perfil</h1>
                <img src="./Icon/iconPerfil.svg">
                <h3>Permite visualizar e editar informações pessoais e configurações da conta.</h3>
            </button>
            <button class="qdItemCadastro">
                <h1>Itens Cadastrados</h1>
                <img src="./Icon/iconCadastro.svg">
                <h3>Permite visualizar, editar e gerenciar os itens cadstrados.</h3>
            </button>
        </div>

        <div class="menu2">

            <div>
                <button class="qdCadastroMp">
                    <h1>Cadastrar Matéria-Prima</h1>
                    <img src="./Icon/iconMP.svg">
                    <h3>Permite cadastrar e gerenciar as informações sobre as matérias-primas utilizadas.
                    </h3>
                </button>
                <button class="qdCadastroReceita" onclick="acessoCadastroReceita()">
                    <h1>Cadastrar Receitas</h1>
                    <img src="./Icon/iconReceita.svg">
                    <h3>Permite cadastrar e gerenciar as informações sobre as receitas.</h3>
                </button>
            </div>
        </div>
    </div>

    <script src="~/js/menu.js" asp-append-version="true"></script>

</body>

</html>