@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<body>

<iframe width="1920px" height="1080px" src="https://www.in.gov.br/en/web/dou/-/instrucao-normativa-in-n-75-de-8-de-outubro-de-2020-282071143">
</iframe>

</body>
</html>
