<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="../shared.css">
    <title>Menu - NutriGenius</title>
</head>

<body>

    <header>
        <section class="cabecalho"></section>
    </header>

    <div class="menuPrincipal">
        <div class="menu1">
            <button class="qdPerfil">
                <h1>Perfil</h1>
                <h3>Editar informações pessoais, configurar preferências de conta, visualizar atividades recentes, e
                    realizar logout.</h3>
            </button>
            <button class="qdItemCadastro">
                <h1>Itens Cadastrados</h1>
                <h3>Editar informações pessoais, configurar preferências de conta, visualizar atividades recentes, e
                    realizar logout.</h3>
            </button>
        </div>

        <div class="menu2">

            <div>
                <button class="qdCadastroMp">
                    <h1>Cadastrar Matéria-Prima</h1>
                    <h3>Editar informações pessoais, configurar preferências de conta, visualizar atividades recentes, e
                        realizar logout.</h3>
                </button>
                <button class="qdCadastroReceita">
                    <h1>Cadastrar Receitas</h1>
                    <h3>Editar informações pessoais, configurar preferências de conta, visualizar atividades recentes, e
                        realizar logout.</h3>
                </button>
            </div>
        </div>
    </div>


    <footer>
        <section class="rodape"></section>
    </footer>

    <script type="module" src="../shared.js"></script>


</body>

</html>