.menuPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.menu1 {
  display: flex;
}

.menu2 {
  display: flex;
}

.qdPerfil {
  width: 300px;
  height: 600px;
  margin: 5px;
  background-color: #E5AB7E;
  display: grid;
  place-items: center;
  border-radius: 15px;
}

.qdItemCadastro {
  width: 300px;
  height: 600px;
  margin: 5px;
  margin-right: 1px;
  background-color: #E5AB7E;
  display: grid;
  place-items: center;
  border-radius: 15px;
}

.qdCadastroMp {
  width: 400px;
  height: 300px;
  margin: 10px;
  background-color: #E5AB7E;
  display: grid;
  place-items: center;
  border-radius: 15px;

}

.qdCadastroReceita {
  width: 400px;
  height: 300px;
  margin: 10px;
  background-color: #E5AB7E;
  display: grid;
  place-items: center;
  border-radius: 15px;
}