<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamplate Padrão</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div>
        <table>
            <caption>
                <font size="5"><b>INFORMAÇÃO NUTRICIONAL</b></font>
            </caption>
            <thead>
                <tr>
                    <th class="nutri"></th>
                    <th class="cemg">100g</th>
                    <th class="porcao">Porção</th>
                    <th class="vdr">%VD*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="nutri">Valor energético (Kcal)</td>
                    <td class="cemg">100 kcal</td>
                    <td class="porcao">100 kcal</td>
                    <td class="vdr">5%</td>
                </tr>
                <tr>
                    <td class="nutri">Carboidratos (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                <tr>
                    <td class="nutri">Açúcares totais (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Açúcares adicionados (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Proteínas (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Gorduras Totais (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Gorduras Saturadas (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Gorduras Trans (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Fibra Alimentar (g)</td>
                    <td class="cemg">20 g</td>
                    <td class="porcao">20 g</td>
                    <td class="vdr">7%</td>
                </tr>
                <tr>
                    <td class="nutri">Sódio (mg)</td>
                    <td class="cemg">20 mg</td>
                    <td class="porcao">20 mg</td>
                    <td class="vdr">7%</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <font size=2>*Percentual de valores diários fornecidos pela porção.</font>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


    <script src="script.js"></script>
</body>

</html>