@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link rel="stylesheet" href="../Tabela Nutricional/tabelaNutricional.css">
    <link rel="stylesheet" href="~/css/Shared/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/relatorio.css" asp-append-version="true" />
</head>

<body>

    <main class="formatoRelatorio">
        <h1>Relatório Técnico para Rotulagem de Alimentos</h1>

        <section class="produtoRelatorio">
            <table>
                <thead>
                    <tr>
                        <th>TIPO</th>
                        <th>NOME DO PRODUTO</th>
                        <th>PORÇÃO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Produto Acabado</td>
                        <td>Coxinha de Frango com Requeijão</td>
                        <td>150 g</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="ingredientesRelatorio">
            <h3>1. Ingredientes</h3>
            <p>Peito de frango, água, requeijão, farinha de trigo enriquecida com ferro e ácido fólico, farinha de
                rosca, óleo de soja refinado, colorau, cebola, sal, caldo de galinha, cebolinha, ligante, alho, vinagre,
                pimenta do reino preta e realçador de sabor (glutamato monossódico).
        </section>

        <section class="alergicosRelatorio">
            CONTÉM GLÚTEN. ALÉRGICOS: CONTÉM DERIVADOS DE TRIGO, LEITE E SOJA. PODE CONTER AVEIA, CRUSTÁCEOS (CAMARÃO),
            OVOS E PEIXES. CONTÉM LACTOSE.</p>
        </section>

        <section class="tabela"></section>

        <section class="preparoRelatorio">
            <h3>2. Modo de Preparo</h3>
            <p>Forno Convencional: Retire o produto do congelador. Descongele em temperatura resfriada (0°C a +4°C).
                Preaqueça o forno a 160ºC. Coloque os salgados em uma assadeira e leve ao forno para aquecer por 15 a 20
                minutos a 160°C. O tempo de preparo pode variar de acordo com o modelo do equipamento utilizado.</p>
        </section>

        <section class="conservacaoRelatorio">
            <h3>3. Conservação</h3>

            <table>
                <fieldset>
                    <h3>TABELA DE CONSERVAÇÃO</h3>
                    <tr>
                        <th>CONSERVAÇÃO</th>
                        <th>TEMPO</th>
                        <th>TEMPERATURA</th>
                    </tr>
                    <tr>
                        <td>Geladeira/Estufa refrigerada</td>
                        <td>3 dias</td>
                        <td>(0ºC a +4ºC)</td>
                    </tr>
                    <tr>
                        <td>Freezer/ Congelador</td>
                        <td>5 meses</td>
                        <td>(-12ºC ou mais frio)</td>
                    </tr>
                    <tr>
                        <td>Freezer/Congelador (Aberto)</td>
                        <td>1 mês</td>
                        <td>(-12ºC ou mais frio)</td>
                    </tr>
                    <tr>
                        <td>Estufa quente</td>
                        <td>6 horas</td>
                        <td>(60°C a 65°C)</td>
                    </tr>
                </fieldset>
            </table>

            <div class="observacaoRelatorio">
                <p>Após aberto, produto não pode ser armazenado em freezer sem estar devidamente fechado novamente.
                    Após descongelado, não congelar o produto novamente.</p>
            </div>
        </section>

    </main>

    <script src="~/js/relatorio.js" asp-append-version="true"></script>

</body>

</html>