ProjetoNutriGenius/Models/MateriaPrimaModel.cs
ProjetoNutriGenius/obj/Debug/net8.0/ProjetoNutriGenius.GeneratedMSBuildEditorConfig.editorconfig
ProjetoNutriGenius/obj/Debug/net8.0/ProjetoNutriGenius.assets.cache
ProjetoNutriGenius/obj/Debug/net8.0/project.razor.vscode.bin
ProjetoNutriGenius/obj/project.nuget.cache