@{
  ViewData["Title"] = "Cadastro de Receitas";
}

<div class="text-center" id="form-container">
  <h2 class="display-4">Cadastro de Matéria-Prima</h2>
  <form id="material-form">
    <div id="material-list">
      <div class="material-item">
        <input type="text" name="materialName[]" placeholder="Nome da Matéria-Prima" required>
        <input type="number" name="materialQuantity[]" placeholder="Quantidade" required>
        <button type="button" class="remove-btn" onclick="removeMaterial(this)">Remover</button>
      </div>
    </div>
    <button type="button" id="add-btn" onclick="addMaterial()">Adicionar Matéria-Prima</button>
    <button type="submit">Enviar</button>
  </form>
</div>