@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Shared/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabelaNutri.css" asp-append-version="true" />
    <title>Pagina Inicial | NutriGenius</title>
</head>

<main>
    <section id="nutrigenius">
        <h1>NutriGenius</h1>
        <p>O NutriGenius é desenvolvido para simplificar a criação de tabelas nutricionais para fornecedores de
            alimentos. Os usuários inserem informações dos ingredientes, e o aplicativo gera automaticamente a
            tabela nutricional do produto, garantindo rapidez, precisão e conformidade com as regulamentações
            vigentes. Essa solução promove transparência e confiança junto aos consumidores.</p>
    </section>

    

    <section class="exemplo">
        <div class="quadrado">SIMPLICIDADE</div>
        <div class="quadrado">AGILIDADE</div>
        <div class="quadrado">CONFORMIDADE</div>
        <div class="quadrado">TECNOLOGIA</div>
    </section>

    <section>
        <h2>Elementos da Tabela Nutricional</h2>
        <p>
            <li>Porção e Medida Caseira</li>
            <li>Valor Energético (Calorias)</li>
            <li>Macronutrientes</li>
            <li>Micronutrientes</li>
            <li>Fibras Alimentares</li>
            <li>Sódio</li>
        </p>
        <!-- Add shop items here -->
    </section>

    <section>
        <h2>Normas e Regulamentações</h2>
        <p>
            <li>Regulamentações nacionais sobre rotulagem</li>
            <li>Requisitos obrigatórios e opcionais na tabela nutricional</li>
            <li>Atualizações recentes nas normas</li>
        </p>
        <!-- Add artist profiles here -->
    </section>

    <section>
        <h2>Tecnologias e Ferramentas</h2>
        <p>
            <li>Ferramentas online para análise nutricional.</li>
        </p>
        <!-- Add magazine articles here -->
    </section>
</main>