@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Shared/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <title>Home | NutriGenius</title>
</head>

<body>


    <script src="~/js/home.js" asp-append-version="true"></script>
</body>

</html>