<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="sobreNos.css">
<link rel="stylesheet" href="../shared.css">
<title>Sobre Nós - NutriGenius</title>

</head>
<body>
<header>
  <section class="cabecalho"></section>
</header>

<section class="container">
  <h2>Sobre Nós</h2>
  <p>NutriGenius é uma solução inovadora dedicada a simplificar a complexa tarefa de criar tabelas nutricionais para fornecedores de alimentos. Nosso aplicativo permite que os usuários insiram facilmente as quantidades dos ingredientes, gerando automaticamente tabelas nutricionais precisas e em conformidade com as regulamentações mais recentes. Nosso objetivo é promover transparência e confiança entre os consumidores, oferecendo uma ferramenta eficaz para garantir que as informações nutricionais dos produtos sejam rapidamente disponibilizadas, independentemente do porte do fornecedor. Desde pequenos produtores locais até grandes indústrias alimentícias, NutriGenius está aqui para simplificar o processo e garantir conformidade com as normas vigentes.</p>
</section>
<section class="container">
    <h2>Público-Alvo</h2>
    <p>
        Pequenos Produtores Locais:
        
        Pequenas empresas locais que geralmente produzem alimentos artesanais em escala limitada. Podem incluir padarias, confeitarias, entre outros. Geralmente têm uma produção limitada e atendem principalmente a comunidades locais.
        Empresas Regionais e Médias:
        
        Empresas de médio porte que operam em uma escala de produção mais substancial do que os pequenos produtores locais e podem abastecer uma área geográfica maior. Podem incluir fábricas de salgados, de pães de queijo, de biscoitos, etc.
        Grandes Indústrias Alimentícias:
        
        Empresas de grande porte que têm uma presença nacional ou internacional. Podem fabricar uma ampla variedade de produtos alimentícios, desde itens básicos até produtos processados. Operam em larga escala e têm uma extensa rede de distribuição para abastecer mercados em múltiplas regiões.</p>
  </section>


<footer>
    <section class="rodape"></section>
</footer>

<script type="module" src="../shared.js"></script>
</body>
</html>
