/*FORMATAÇÃO DA TABELA*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

section.informacao {
    border: 1px solid black;
    padding: 2mm;
    width: 400px;
    height: 380px;
}

section.informacao h2 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

section.informacao ul {
    list-style: none;
    padding: 0px;
    margin: 2mm;
}

section.informacao ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

section.informacao table {
    width: 100%;
    border-spacing: 0px;
}

section.informacao table thead tr th {
    border: 1px solid black;
    padding: 2, 5px;
    text-align: center;
}

section.informacao table tbody tr td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}

section.informacao p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.hr {
    height: 1mm;
    background-color: black;
}

.prima {
    display: flex;
    justify-content: left;
    text-indent: 4.8mm;
    font-family: Arial, Helvetica, sans-serif;
}

.secon {
    display: flex;
    justify-content: left;
    text-indent: 7.6mm;
    font-family: Arial, Helvetica, sans-serif;
}

.td {
    display: flex;
    justify-content: left;
    text-indent: 2mm;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FORMATAÇÃO DOS INDICATIVOS DE ALTO EM:*/

.alinharcentro {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.infoalto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: solid 5px;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.imagem img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.texto {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto ul {
    list-style: none;
    padding: 0px;
    font-size: 1px;
}

.texto ul li {
    font-size: 20px;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding: 10px;
    width: 180px;
    border-radius: 15px;
    color: white;
    background-color: black;



}