<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informação Nutricional</title>
    <link rel="stylesheet" href="tabelaNutricional.css">
    <link rel="stylesheet" href="../shared.css">
</head>

<body>
    <header>
        <h1>Informação Nutricional</h1>
    </header>
    <main>
        <div class="tabela">
            <section class="informacao">
                <h2>INFORMAÇÃO NUTRICIONAL</h2>
                <hr>
                <ul>
                    <li>
                        <span>Porções por embalagem: <span>000</span></span>
                    </li>
                    <li>
                        <span>Porção: <span>000 g (medida caseira)</span></span>
                    </li>
                </ul>
                <hr class="hr">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>100 g</th>
                            <th>Porção</th>
                            <th>%VD*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td">Valor energético (kcal)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="td">Carboidratos (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="prima">Açúcares totais (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="secon">Açúcares adicionados (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td">Proteinas (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="td">Gorduras totais (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="prima">Gorduras saturadas (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="prima">Gorduras trans (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="td">Fibra alimentar (g)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="td">Sódio (mg)</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
          <hr class="hr2">
                <p>* Percentual de valores diários fornecidos pela porção.</p>
            </section>
        </div>

        <div class="alinharcentro">
            <div class="infoalto ">
                <div class="texto">
                    <div class="imagem">
                        <img src="./img/lupa.png" />
                    </div>
                    <ul>
                        <li>AÇÚCAR ADICIONADO</li>
                        <li>GORDURA SATURADA</li>
                        <li>SÓDIO</li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
</body>

</html>